<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin dashboard: Survival analysis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">


    <style>
        .compact-table {
            font-size: 0.9rem;
        }
        .compact-table th, 
        .compact-table td {
            padding: 4px 8px;
        }
    </style>

    
</head>
<body>

    <div class="container-fluid col-11">
        <h1>Admin dashboard: Survival Analysis Tutorial</h1>
        <hr>

        <div class="row justify-content-md-right" >
            <div class="col-md-9">
            <strong>Summary:</strong>

                <ul>
                    <li>Registered users - {{ summary.user_count }}</li>
                    <li>Quiz submissions - {{ summary.submission_count }}</li>
                    <li>Pending submission - {{ summary.pending_count }}</li>
                </ul>
                
            </div>
            <div class="col-md-3">
                <strong>Legend:</strong>
                <ul>
                    <li><i class="fas fa-check"></i> - Submitted</li>
                    <li><i class="fas fa-hourglass-half"></i> - Pending submission</li>
                </ul>
            </div>
          </div>

            
          <table class="inputs">
            <tbody>
                <tr>
                    <td>Book Title:</td>
                    <td>
                        <select id="book_id" name="book_id">
                            {% for book in books %}
                                <option value="{{ book.book_id }}">{{ book.book_title }}</option>
                            {% endfor %}
                            <!-- <option value="b8c6c06e-dee4-5eb6-af3e-6692cf712ee2">Survival Analysis</option>
                            <option value="9f7b5686-3d1c-5b8e-87c0-17f4f7a1d676">Survival Analysis (Public)</option> -->
                        </select> 
                    </td>
                </tr>
        </tbody></table>
        <table id="book_state" class="table table-bordered compact-table">
            <thead>
                <tr>
                    <th>Book ID</th>
                    <th>User ID</th>
                    <th>Email</th>
                    <th>Chapter 1</th>
                    <th>Chapter 2</th>
                    <th>Chapter 3</th>
                    <th>Chapter 4</th>
                    <th>Pre-test questionnaire</th>
                    <th>Post-test questionnaire</th>
                    <th>Status</th>
                    <th>Completed</th>
                </tr>
            </thead>
            <tbody>
                {% macro table_cell(answered, total, active) %}
                <td class="text-center 
                    {% if answered is defined and answered == total %}table-success
                    {% elif answered is defined and answered != 0 or active %}table-warning{% endif %}
                ">
                    {% if answered is defined and answered != 0 or active %}{{ answered ~ " / " ~ total }}{% endif %}
                </td>
                {% endmacro %}

                {% for row in data %}
                <tr>
                    <td class="text-center">{{ row['book_id'] }}</td>
                    <td class="text-center">{{ row['user_id'] }}</td>
                    <td class="text-center">{{ row['email'] }}</td>
                
                    {{ table_cell(row['chapter_1'], row['chapter_1_total'], row['chapter_1_active']) }}
                    {{ table_cell(row['chapter_2'], row['chapter_2_total'], row['chapter_2_active']) }}
                    {{ table_cell(row['chapter_3'], row['chapter_3_total'], row['chapter_3_active']) }}
                    {{ table_cell(row['chapter_4'], row['chapter_4_total'], row['chapter_4_active']) }}
                    {{ table_cell(row['pre_test'], row['pre_test_total'], False) }}
                    {{ table_cell(row['post_test'], row['post_test_total'], False) }}

                    <td class="text-center">
   
                        {% if row['isQuizComplete'] %}
                            <i class="fas fa-check"></i>
                        {% else %}
                            <i class="fas fa-hourglass-half"></i>
                        {% endif %}
                    </td>

                    <td class="text-center">{{ row['completed'] }}</td>
                </tr>
                {% endfor %}
                
            </tbody>
            
        </table>
    </div>
</body>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $('.table').DataTable(
            { 
                "paging": false,
                'columnDefs' : [{'visible': false, 'targets': [0]}]
            });
        
        const table = $('#book_state').DataTable();
        $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
            var book_id = $('#book_id').val();

            var book_id_col = data[0];
            if (book_id == book_id_col) {
                return true;
            }
            return false;
        });

        $('#book_id').on('change', function () {
            table.draw();
        });

        // Manually trigger the draw method on page load
        table.draw();
    });
</script>

</html>
